.content {
    font-family: Open Sans;
    color: white;
    text-shadow: 1px 1px black;
}
ul {
    list-style-type: none;
    padding: 10px;
    margin: 0;
}
li {
    width: 100%;
    height: 24px;
    border-radius: 3px;
}
li:hover {
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}
.text {
    margin: 5px;
}