.main-container {
    width: 1280px;
    height: 720px;

    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: 1px solid #2b2b2b;
    border-radius: 5px;

    box-shadow: 6px 4px 18px -4px rgba(0,0,0,0.56);
    background-color: white;
}
.background {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    position: absolute;

    background: webkit-linear-gradient(right,rgb(235, 232, 228),rgb(255, 255, 255));
    background: linear-gradient(to right,rgb(236, 233, 230),rgb(255, 255, 255));
}