.header {
    width: 100%;
    height: 50px;
    background-color: #3E3E3E;

    color: white;
    font-size: 2em;
    font-family: Open Sans;
}
.title {
    padding-left: 10px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.7);
}