.main {
    height: calc(100% - 50px);

    grid-template-columns: auto 120px;
    grid-template-rows: auto;
}
.sidebar {
    height: 100%;

    background-color: #A9A9A9;
    grid-column-start: 10;
    grid-column-end: 12;
}
.content {
    height: 100%;

    grid-column-start: 1;
    grid-column-end: 10;
}